// @import "../../app/common.scss";

.red {
  color: 'red';
}
.cell {
  display: table-cell;
  vertical-align: middle;
}

.divider {
  padding-left: -12px !important;
  padding-right: -12px !important;
}

.space {
  letter-spacing: '-3px';
}

.spaceText {
  margin-bottom: 1rem;
}

.mastheadHeight {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

// masthead stylings

.mastheadLayoutContainer {
  display: flex;
}

.sgdsMasthead {
  background-color: #f0f0f0;
  color: #484848;
  font-family: 'Source Sans Pro', BlinkMacSystemFont, 'Segoe UI', sans-serif;
  p {
    margin-bottom: none;
  }
  .mastheadLayout {
    display: table;
    min-height: 1.75rem;
    color: #484848;
    font-size: 0.875rem;
  }
  .mastheadDivider {
    width: 100%;
    border-bottom: 0 solid #ccc;
    &.is-hidden {
      display: none;
    }
  }
  .isText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0.25rem;
  }
  .row.is-multiline.is-vcentered {
    margin-right: 0;
  }
  .bannerTextLayout {
    display: table;
  }
  .sgds-icon-chevron-down {
    display: table-cell;
    vertical-align: middle;
    margin-left: 0.125rem;
  }
  .sgds-icon-chevron-up {
    display: table-cell;
    vertical-align: middle;
    margin-left: 0.125rem;
  }
  .sgdsIconSgCrest {
    display: table-cell;
    vertical-align: middle;
  }
  .sgdsMastheadButton {
    display: table-cell;
    cursor: pointer;
    color: #2f60ce;
    &:hover {
      color: #23489b;
    }
  }
  .sgdsMastheadButtonText {
    text-decoration-line: underline;
    padding-left: 0;
    color: #0070f2;
  }
  .bannerContentLayout {
    flex: none;
    width: 100%;
    padding-top: 1.375rem;
    padding-bottom: 2.75rem;
    &.is-hidden {
      display: none;
    }
  }
  .bannerIcon {
    float: left;
    margin-right: 0.75rem;
    align-self: flex-start;
    margin-top: 0.5625rem;
    height: 1.125rem;
  }
  .inlineBannerIcon {
    height: 0.8125rem;
    display: inline;
  }
  .bannerContent {
    float: left;
    display: inline-flex;
    max-width: min(40%, 31.5rem);
    &:first-child {
      margin-right: min(12%, 12.5rem);
    }
    div {
      font-size: 1rem;
      line-height: 2.25rem;
      letter-spacing: 0;
    }
    p {
      line-height: 1.5rem;
      font-size: inherit;
    }
  }
  .bannerContentText {
    display: contents;
    font-size: inherit;
    &:after {
      padding-left: 2px;
    }
  }

  a[target='_blank']:after {
    display: inline-block;
    font-family: 'sgds-icons', serif;
    content: '\e95c';
    padding-left: 0.25rem;
    font-weight: 400;
  }

  .avoidwrap {
    display: inline-block;
  }
}

.sgdsIconSgCrest {
  font-size: 1.25rem;
}

.sgdsIconChevronDown,
.sgdsIconChevronUp {
  font-size: 0.75rem !important;
}

@media screen and (max-width: 1023px) {
  .sgdsMasthead {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    .mastheadLayout {
      text-align: left;
      font-size: 0.75rem;
      cursor: pointer;
    }
    .bannerContentLayout {
      padding-bottom: 2rem;
      padding-top: 0.25rem;
    }
    .sgdsContainer {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    .mastheadDivider {
      border-bottom-width: 1px;
    }
    .bannerContent {
      max-width: unset;
      &:first-child {
        margin-right: unset;
        margin-bottom: 1rem;
      }
      div {
        font-size: 0.75rem;
        line-height: 1.75rem;
      }
      p {
        line-height: 1rem;
      }
    }
    .bannerIcon {
      margin-left: 0.1875rem;
      margin-right: 0.1875rem;
      margin-top: 0.5rem;
      height: 0.875rem;
    }
    .bannerContentTextContainer {
      padding-left: 0.25rem !important;
    }
    .inlineBannerIcon {
      height: 0.625rem;
    }
  }
}

@media screen and (max-width: 364px) {
  .sgdsMasthead {
    .mastheadLayout {
      font-size: 0.6875rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 340px) {
  .sgdsMasthead {
    .mastheadLayout {
      font-size: 0.625rem;
      cursor: pointer;
    }
  }
}
